
/* Start Content  */
.content {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    margin-top: 100px;
}
.content p{
    color: black;
    text-align: left;
    font-weight: 500;
}
/* End Content  */
