/* Start Account-Page */
.account-page{
    padding-top: 200px;
    padding-bottom: var(--section-padding);
    background-color: var(--main-color);
}
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    padding: 20px;
}
.form-container{
    background-color: wheat;
    width: 300px;
    height: 600px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: var(--animation-color);
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-container .form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 10px 0;
    border: 1px solid var(--animation-color);
    border-radius: 5px;
    left: 20px;
}
form .btn{
    width: 100%;
    cursor: pointer;
    border: none;
    margin: 10px 0;
    color: white;
    background-color: var(--main-color);
}
form .forget-pass{
    color: var(--animation-color);
    font-size: 12px;
}
form .forget-pass:hover{
    color: white;
}
form .btn:focus{
    outline: none;
}
#LoginForm{
    left: -300px;
}
#RegForm{
    left: 0;
}
#Indicator{
    width: 100px;
    border: none;
    color: var(--second-color);
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;

}
/* End Account-Page */
