/* Start Group1 */
.group{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    top: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.group .imgs-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Create responsive grid */
    gap: 20px; /* Spacing between the boxes */
    padding: 0 20px;
    margin-top: 20px;
}
.group .imgs-container .box{
    position: relative; /* Needed for absolute positioning of overlay */
    overflow: hidden;   /* Ensures content does not overflow */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.imgs-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure image covers the box area */
}
.imgs-container .box .caption{
    position: absolute;
    top: 0;              /* Position at the top of the box */
    left: 0;             /* Position at the left of the box */
    width: 100%;         /* Make overlay cover entire box width */
    height: 100%;        /* Make overlay cover entire box height */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    color: white;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center;     /* Center content vertically */
    opacity: 0;              /* Initially hidden */
    transition: opacity 0.3s ease; /* Fade effect */
}
.box:hover .caption {
    opacity: 1; /* Show overlay when hovered */
}

/* Hover effect on project boxes */
.box:hover {
    transform: scale(1.05); /* Slight zoom-in effect */
}
.group .seemore{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.group .more{
    background-color: var(--main-color);
    color: white;
    padding: 15px 20px;
    margin: 60px 20px;
    display: block;
    width: fit-content;
    margin: 30px auto;
    text-decoration: none;
    border-radius: 5px;
}
.group .seemore:hover,
.more:hover{
    cursor: pointer;
    transform: translateY(-5px)
}
/* End Group1 */
